<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="margin-bottom: 1%;">

  <a class="navbar-brand" href="/">Home</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" href="/encrypt">Encrypt <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/decrypt">Decrypt <span class="sr-only">(current)</span></a>
    </ul>
  </div>

  <div class="btn-group inline">
    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>

</nav>
