{% extends "layout.html" %}

{% block body %}
  <h1 class="text-center" style="margin-bottom:1.5%">Decrypt</h1>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Upload Image</h5>
        <form method=post enctype=multipart/form-data action="">
          <input type=file id="choose_file" name=file><hr>
          <button class="btn btn-primary" type="submit">Decrypt</button>
        </form>
        {% if session['filename']!="" %}
          <p class="card-text" style="margin-top:1%">Image:</p>
          <img src="{{ url_for('static', filename='uploads/' + session['filename']) }}" />
        {% endif %}
      </div>
    </div>
  </div>
  {% if session['filename']!="" %}
    <div class="container">
      <div class="form-group">
        <h5 style="margin-top: 1.5%">Decrypted Text</h5>
        <textarea class="form-control big" disabled>{{ text }}</textarea>
      </div>
    </div>
  {% endif %}
{% endblock %}
