{% extends "layout.html" %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Doki-Doki Encryption</h1>
    <p class="lead">
      Doki-Doki Literature Club is a disturbing horror game. Although it seems like a cute dating simulator at first, the game becomes crazy. Some characters leave clues on your computer.
    </p>

    <p class="lead">
      One of these clues consists of a 800x800 image of black and white pixels. A black pixel is a binary 1, and a white pixel is a 0. The image is read from left to right, just like a book. This program converts utf-8 text into one of these images, and can decode images created in a similar way. Enjoy Doki-Doki Encryption!
    </p>
  </div>
{% endblock %}
