<html lang="en">
  <head>
    <title>Doki-Doki Encryption</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <style>
      .big {
        height: 275px;
      }
    </style>
  </head>

  <body>
    {% include "includes/_navbar.html" %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
<html>
